In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv('pes2021-all-players.csv')

In [5]:
df.head()

,name,shirt_number,team_name,league,nationality,region,height,weight,age,foot,...,skill_super_sub,com_playing_style_trickster,com_playing_style_mazing_run,com_playing_style_speeding_bullet,com_playing_style_incisive_run,com_playing_style_early_cross,com_playing_style_long_ball_expert,com_playing_style_long_ranger,ball_color,rating_stars
0,L. MESSI,10,FC BARCELONA,Spanish League,ARGENTINA,South America,170,72,33,Left foot,...,0,1,1,1,1,1,0,0,black,5
1,C. RONALDO,7,JUVENTUS,Serie A TIM,PORTUGAL,Europe,187,83,35,Right foot,...,0,1,1,1,1,0,0,1,black,5
2,R. LEWANDOWSKI,9,FC BAYERN MÜNCHEN,Other European Leagues,POLAND,Europe,185,79,32,Right foot,...,0,0,0,0,1,0,0,0,black,5
3,NEYMAR,10,PSG,Ligue 1 Uber Eats,BRAZIL,South America,175,68,28,Right foot,...,0,1,1,1,1,0,0,0,black,5
4,K. DE BRUYNE,17,MANCHESTER B,English League,BELGIUM,Europe,181,68,29,Right foot,...,0,0,1,0,0,1,1,1,black,5

In [6]:
df.shape

(14693, 120)

# Preparing the dataset

##### We dont need any skill columns, ball_color column, rating_star column, so lets drop those columns

In [7]:
#Getting the index of playing style column
playingStyle_column_index = df.columns.get_loc('playing_style')

# Drop all columns after the 'playing_style' column
df = df.iloc[:, :playingStyle_column_index + 1]

In above code we dropped all columns after the playing_style column because we dont need them

In [8]:
#Some more colums to drop
columns_to_drop = ['shirt_number', 'height', 'condition']
df = df.drop(columns=columns_to_drop)

In [9]:
df.shape #total 52 columns dropped

(14693, 65)

### Dividing the dataset into four categories : Forwards , midfielders, defenders and goalkeepers, so that we can make our analysis according to the categories.

#### Forwards : all players with registerd position as CF, LWF, RWF, SS
#### Midfielders : all players with registered position as AMF, RMF, LMF, CMF, DMF
#### Defenders : all players with registered position as CB, LB, RB
#### Goalkeepers : all players with registered position as GK

In [11]:
#FORWARDS
forwards_df = df[
    (df.registered_position=='CF') |
    (df.registered_position=='LWF') |
    (df.registered_position=='RWF') |
    (df.registered_position=='SS') 
]

In [15]:
#MIDFIELDERS
midfielders_df = df[
    (df.registered_position=='AMF') |
    (df.registered_position=='RMF') |
    (df.registered_position=='LMF') |
    (df.registered_position=='CMF') |
    (df.registered_position=='DMF') 
]

In [17]:
defenders_df = df[
    (df.registered_position=='CB') |
    (df.registered_position=='LB') |
    (df.registered_position=='RB') 
]

In [18]:
goalkeepers_df=df[
    (df.registered_position=='GK')
]

In [19]:
midfielders_df.shape

(4614, 65)

In [20]:
defenders_df.shape

(4748, 65)

In [21]:
goalkeepers_df.shape

(1711, 65)

In [23]:
forwards_df.shape

(3620, 65)

In [24]:
4614+4748+1711+3620

14693